<div id="delete-popup" class="modal">
  <span class="material-symbols-outlined close-button">close</span>
  <div class="modal-content">
    <div class="container">
      <h1 class="modal-title"></h1>
      <p class="modal-paragraph"></p> 
      <div class="clearfix">
        <button type="button" class="cancel-button">Cancel</button>
        <button type="button" class="delete-button">Delete</button>
      </div>
    </div>
  </div>
</div>
